DATABASE_URL =
UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=
GEMINI_API_KEY=
GITHUB_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
PORT=8000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

REDIS_CLOUD_HOST=
REDIS_CLOUD_PORT="15891"
REDIS_CLOUD_PASSWORD=